@import '../../node_modules/@angular/material/theming';

@font-face {
  font-family: 'Canaro Light';
  src: url('font/Canaro-Light-webfont.woff2') format('woff2'),
  url('font/Canaro-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@mixin scr-light-typography($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .scr-primary-text {
    color: mat-color($primary);
  }
}
