@import '../../node_modules/@angular/material/theming';

@import "./font/stylesheet.css";

@mixin scr-light-typography($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .scr-primary-text {
    color: mat-color($primary);
  }
}
